
<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item routerLink="/dash/history">История заказов</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/dash/addorder">Добавить заказ</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/dash/categories">Ассортимент</ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
