
    <ion-card class="modal" #modal>
      <form [formGroup]="form" (ngSubmit)='onSubmit()'>
        <ion-card-header>
          <ion-card-title>Позиция</ion-card-title>
        </ion-card-header>
      <ion-item>
        <ion-label for="pos-name" position="floating">Название</ion-label>
        <ion-input id="pos-name" type="text" formControlName="name"
        [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}"></ion-input>
        <span class="helper-text red-text" 
        *ngIf="form.get('name').invalid && form.get('name').touched">
            Название не должно быть пустым</span>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Цена</ion-label>
        <ion-input id="pos-cost" type="number" min="1" [ngClass]="{'invalid': form.get('cost').invalid && form.get('cost').touched}" formControlName="cost"></ion-input>
        <span class="helper-text red-text" 
        *ngIf="form.get('cost').invalid && form.get('cost').touched">
            Введите корректную цену. Минимальное значение 1</span>
      </ion-item>
      <!-- <button type="button" class="modal-action waves-effect waves-black btn-flat" 
      (click)="onCancel()">Отмена</button> -->
      <ion-button type="submit" [disabled]="form.invalid || form.disabled" class="ion-margin">
          Сохранить</ion-button>
  </form>
</ion-card>
    
    <ion-card class="page-subtitle">
      <ion-card-header>
        <ion-card-title>Позиции</ion-card-title>
        <!-- <ion-button class="waves-effect waves-light btn grey darken-1 btn-small"
        (click)="onAddPosition()"
        >
          Добавить позицию
        </ion-button> -->
      </ion-card-header>
      <ion-card-content>
        <div *ngIf="!loading; else loader">
          <ion-list class="collection" *ngIf="positions.length!==0; else empty">
            <ion-item class="collection-item collection-item-icon" *ngFor="let position of positions" (click)="onSelectPosition(position)">
              <ion-label>
                {{position.name}} <strong>{{position.cost}} руб.</strong>
              </ion-label>
              <ion-icon slot="end" name="close-outline" (click)="onDeletePosition($event, position)"></ion-icon>
            </ion-item>
          </ion-list>
        </div>
      </ion-card-content>
    </ion-card>

    <ng-template #empty>
        <div class="center">В категории позиций нет</div>
    </ng-template>
    <ng-template #loader>
        Loading
    </ng-template>






